@model POSConsolidator.Models.LoginViewModel

@{
    ViewBag.Title = "Log in";
}

<body>
    <div class="row">
        <div class="container">
            <section id="loginForm">
                @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    <br /><br /><br /><br />
                    <h2 align="center">@ViewBag.Title.</h2>
                    <h4 align="center">Use a local account to log in.</h4>
                    <div align="center" class="form-group">
                        <strong style="color:red">
                            @Html.ValidationSummary(true, "Login Failed. Account/Password is Incorrect.")
                        </strong>
                    </div>
                    <div align="center" class="form-group">
                        <div align="center" class="col-md-offset-4 col-md-4">
                            @Html.TextBoxFor(m => m.UserName, new { @class = "form-control", @placeholder = "Username" })
                            @Html.ValidationMessageFor(m => m.UserName)
                        </div>
                    </div>
                    <div align="center" class="form-group">
                        <div align="center" class="col-md-offset-4 col-md-4">
                            @Html.PasswordFor(m => m.Password, new
                   {
                       @class = "form-control",
                       @placeholder = "Password",
                       @Autocomplete = "off"
                   })
                            @Html.ValidationMessageFor(m => m.Password)
                        </div>
                    </div>
                    <div align="center" class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <div style="float:left" class="col-md-offset-3 checkbox">
                                @Html.CheckBoxFor(m => m.RememberMe)
                                @Html.LabelFor(m => m.RememberMe)

                            </div>
                            <div style="float:left" class="col-md-offset-1">
                                <input type="submit" value="Log in" class="btn btn-default" />
                            </div>
                        </div>
                    </div>
                    <p align="center">
                        @Html.ActionLink("Register", "Register") if you don't have a local account.
                    </p>
                }
            </section>
            @*<div align="center" class="container">
                  <section id="socialLoginForm">
                      @Html.Partial("_ExternalLoginsListPartial", new { Action = "ExternalLogin", ReturnUrl = ViewBag.ReturnUrl })
                  </section>
                </div>*@
        </div>
    </div>
</body>
